@import "font-awesome";
* {
    box-sizing: border-box;
  }
body{
    background-image: url("src/img/body.svg");
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    /* background-repeat: no-repeat;
    background-size: cover; */
}
.todo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.5);

}
.header{
    background-image: url("src/img/background.jpg");
    width : 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    height: calc(100% - 200px - 20px);
    margin: 10px 40px;
}

.items{
    display: flex;
    flex-direction: column;

}
#rounded{
    color: #2A872A;;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 220px;
    right: 40px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li {
    cursor: pointer;
    position: relative;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    /*makethelistitemsunselectable*/-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgba(0, 0, 0, 0.1);
    list-style-type: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    margin-top: 10px;
}
/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
  }

input{
    width: 100%;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}